.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.list {
  margin: auto;
  text-align: center;
  position: fixed;
}

.add {
  position: absolute;
  margin: auto;
  left: 80%;
  top: 75%;
}

.update {
  position: absolute;
  margin: auto;
  left: 80%;
  top: 15%;
  transform: scale(2);
}

.avatarSad {
  position: absolute;
  left: -5%;
  transform: scale(2);
}

.buttonSad {
  margin: auto;
}

.box {
  border: 5px solid rgb(0, 38, 255);
  margin: auto;
}

.create {
  position: absolute;
  left: -30px;
  bottom: 0%;
}

.create:hover {
  background-color: aqua;
}

.cancel {
  position: absolute;
  left: -25px;
  top: 85%;
}

.textField {
  left: 0%;
  width: auto;
}

.passengers {
  width: 30%;
}
