.changePass {
  top: 10px;
}

.clickedDiv {
  margin: auto;
  width: 70%;
  height: 70px;
  left: 30px;
}

.textField {
  width: 40%;
}

.confirm {
  position: absolute;
  left: -10px;
  top: 20px;
}
.cancel {
  position: absolute;
  left: 2px;
  top: 20px;
}
