.changePass {
  top: 10px;
}

.clickedDiv {
  margin: auto;
  width: 70%;
  height: 70px;
  left: 30px;
}

.textField {
  left: 1000px;
  width: 25%;
}

.confirm {
  left: 50px;
  top: 5px;
}
.cancel {
  left: 5px;
}
