.form {
  /*border: 3px solid #3cff00;*/
  width: auto;
  top: 120%;
  /*font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;*/
  font-family: "Righteous";
}

.outlined-basic {
  /*background-color: lightyellow;*/
  width: 45%;
} /**/
