.text {
  font-size: 17px;
  margin: auto;
  align-items: center;
  text-align: center;
  font-family: Roboto;
}

.background {
  margin: auto;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 25px;
  border-radius: 500px;
  background-color: rgba(0, 204, 255, 0.062);
  border: 5px solid rgba(43, 226, 119, 0.185);
}
